@CHARSET "UTF-8";

body
{
	font-family: "nimbus-sans-1","nimbus-sans-2",sans-serif;
	
	background-image: url("images/bg.jpg");
}

a
{
	color:inherit;
}

a:visited,a:link 
{
	text-decoration:none;
}

a:hover,a:active 
{
	text-decoration:underline;
}

#main
{
	/* original image size: 862x1029 */
	
	width: 786px; /* 862-39-37 */
	height: 993px;	/* 1029-20-16 */
	background-image:url("images/fg.png");
	
	margin-left: auto;
	margin-right: auto;
	
	padding-left: 39px;
	padding-top: 20px;
	padding-right: 37px;
	padding-bottom: 16px;
}

/**
 * 	Header
 */

#header
{
	height: 100px;
	text-align: left;
	
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}


#logo
{
	float: left;
	width: 100px;
	height: 100px;
	background-color: #3333EE;
}

#welcome
{
	float: right;
	width: 400px;
	height: 100px;
	text-align: right;
	vertical-align: top;
	
	font-weight: bold;
	font-size: 24px;
	color: #4382B8;
}

/**
 * 	buttons
 */

#buttons
{
	width: 766px;
	height: 278px;
	
	vertical-align: bottom;
	
	background-image:url("images/buttons-background.png");
	background-repeat: repeat;
	
	padding-left: 20px;
	padding-top: 20px;
}

#buttons .caption
{
	width: 200px;
	
	padding-top: 10px;
}

#github
{
	float: left;
	width: 240px; 
}

#jira
{
	float: left;
	width: 260px; 
}

#maven
{
	float: left; 

	width: 240px; 
}

#buttons .title
{
	font-weight: bold;
	font-size: 18px;
	color: #67ADE9;
}

#buttons .text
{
	font-weight: bold;
	font-size: 18px;
	color: #4382B8;
}

/**
 * 	content
 */

#content
{
	width: 746px;
	height: 416px;
	
	vertical-align: bottom;
	
	background-image:url("images/content-background.png");
	background-repeat: repeat;
	
	margin-top: 1px;
	
	padding-left: 40px;
	padding-top: 40px;
}

#content .section
{
	width: 200px;
}

#what-is-it
{
	float: left;
	width: 253px;
}

#how-to-use
{
	float: left;
	width: 253px;
}

#where-to-get
{
	float: left;
	width: 200px;
}

#content .title
{
	font-weight: bold;
	font-size: 18px;
	color: #302345;
	
	text-align: left;
}

#content .text
{
	font-weight: normal;
	font-size: 14px;
	color: #4382B8;
	
	text-align: justify;
}

/**
 * 	Footer
 */

#footer
{
	text-align: right;
	vertical-align: bottom;
	
	padding: 10px;
}


