@CHARSET "UTF-8";

body
{
	text-align: center;
	
	background-image: url("images/bg.jpg");
}


#main
{
	/* original image size: 862x1029 */
	
	width: 786px; /* 862-39-37 */
	height: 993px;	/* 1029-20-16 */
	background-image:url("images/fg.png");
	
	margin-left: auto;
	margin-right: auto;
	
	padding-left: 39px;
	padding-top: 20px;
	padding-right: 37px;
	padding-bottom: 16px;
}

#header
{
	height: 100px;
	text-align: left;
	
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}


#logo
{
	float: left;
	width: 100px;
	height: 100px;
	background-color: #3333EE;
}

#welcome
{
	float: right;
	width: 400px;
	height: 100px;
	text-align: right;
	vertical-align: top;
	
	font-family: Arial;
	font-weight: bold;
	color: #4382b8;
}

#content
{
	
}

#buttons
{
	width: 100%;
	height: 400px;
	
	vertical-align: bottom;
	
	background-image:url("images/buttons-background.png");
	background-repeat: repeat;
}

#github
{
	float: left; 
}

#jira
{
	float: left; 
}

#maven
{
	float: left; 
}



#github-jira-gap
{
	width: 60px; 
}

#jira-maven-gap
{
	width: 75px;
}


