@CHARSET "UTF-8";

body
{
	text-align: center;
}


#main
{
	/* original image size: 862x1029 */
	
	width: 786px; /* 862-39-37 */
	height: 993px;	/* 1029-20-16 */
	background-image:url("images/fg.png");
	
	padding-left: 39px;
	padding-top: 20px;
	padding-right: 37px;
	padding-bottom: 16px;
}

#header
{
	height: 100px;
	text-align: left;
	
	padding-left: 40px;
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}


#logo
{
	float: left;
	width: 100px;
	height: 100px;
	background-color: #3333EE;
}

#welcome
{
	float: right;
	width: 400px;
	height: 100px;
	text-align: right;
	vertical-align: top;
	
	font-family: Arial;
	font-weight: bold;
	color: #4382b8;
}

#content
{
	
}

#buttons
{
	width: 100%;
	height: 400px;
	
	background-color: #66ace8;
	opacity: 0.2;
	filter: alpha(opacity=20); /* For IE8 and earlier */
}

